 <h1><%= @figure.name %></h1>
<form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="figure[name]">Edit Name:</label>
  <input id="figure_name" type="text" name="figure[name]" value="<%= @figure.name %>">
  <br>



  <h3>Edit Landmarks</h3>

  <p>Choose From Existing Landmarks:
  <% @landmarks.each do |landmark| %>
    <br>
    <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <label for="figure[landmark_ids][]"><%= landmark.name %></label>
  <% end %>
  </p>

  <p>
    <label for="landmark[name]">Add New Landmark:</label>
    <input id="new_landmark" type="text" name="landmark[name]">
    <br>
    <label for="landmark[year_completed]">Year Completed:</label>
    <input type="integer" name="landmark[year_completed]">
  </p>



  <h3>Edit Titles</h3>

  <p>Choose From Existing Titles:
  <% @titles.each do |title| %>
    <br>
    <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>">
    <label for="figure[title_ids][]"><%= title.name %></label>
  <% end %>
  </p>

  <p>
    <label for="title[name]">Add New Title:</label>
    <input id="new_title" type="text" name="title[name]">
  </p>


  <br>
  <input id="Edit Figure" type="submit" value="Edit Figure">
</form>
