<h1>New Figure</h1>

</form>
<form action="/figures" method="post">
  <h2><label for="name">Name: </label><input id="figure_name" type="text" name="figure[name]" placeholder="Enter Name..."></h2>


  <p>Choose A Title:</p>
  <% @titles.each do |t| %>
    <input id="title_<%= t.id %>" type="checkbox" name="figure[title_ids][]" value="<%= t.id %>"><%= t.name %></input>
  <% end %>
  <br></br>
  <p>...Or Add A New Title:</p>
  <p><input type="text" name="title[name]" id="new_title"></p>

  <br></br>

  <p>Choose A Landmark:</p>
  <% @landmarks.each do |l| %>
    <p><input type="checkbox" id="landmark_<%= l.id %>" name="figure[landmark_ids][]" value="<%= l.id %>"><%= l.name %></input></p>
  <% end %>
  <p>...Or Add A New Landmark:</p>
  <p><input type="text" name="landmark[name]" id="new_landmark"></p>
  <input type="submit" id="submit" value="Create New Figure">
</form>
