<form action="/figures" method="post">
  <p>Enter Name:
    <input id='figure_name' type="text" name="figure[name]" value="Name">
  </p>
  <p>Pick a Title</p>
  <p>
  <%@titles.each do |t|%>
  <p><input id="title_<%=t.id%>" type="checkbox" name="figure[title_ids][]" value="<%=t.id%>"><%=t.name%></p>
  <%end%>
  </p>
  <p>Or choose a new title: </p>
  <p><input id="new_title" type="text" name="title[name]" value=""></p>
  <p>Pick a landmark: </p>
  <p>
  <%@landmarks.each do |l|%>
  <p><input id="landmark_<%=l.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>"><%=l.name%></p>
  <%end%>
  </p>
  <p>Or Choose a new one:</p>
  <input id="new_landmark" type="text" name="landmark[name]" value="">
  <input type="submit" name="submit" value="Create New Figure">
</form>
